.pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    button {
        width: max-content;
        min-width: 30px;
        border: 2px solid var(--primary-color);
        background-color: transparent;
        color: var(--primary-color);
        padding: 5px 15px;
        font-size: var(--normal-font-size);
        font-weight: var(--font-semi-bold);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        outline: none;
        cursor: pointer;
        transition: all .2s ease;

        &.active {
            background-color: var(--primary-color);
            color: var(--gray-100);
            
            &:hover{
                background-color: var(--primary-color-dark);
            }
        }

        &:hover {
            border: 2px solid transparent;
            background-color: var(--primary-color);
            color: var(--gray-100);
        }
    }
}