.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: var(--primary-color);
    padding: 20px 0;

    .gallery-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;


        button {
            margin: 0 10px 10px 0;
            padding: 5px 10px;
            font-size: 16px;
            background-color: var(--secondary-color);
            color: var(--gray-100);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            padding: 10px;
            width: max-content;
            min-width: 60px;
            transition: all .3s ease;

            &:hover {
                background-color: var(--secondary-color-dark);
            }
        }
    }

    .gallery-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .gallery-image {
            width: 300px;
            height: 200px;
            margin: 10px;
            border-radius: 8px;
            cursor: pointer;
            object-fit: cover;
        }
    }

    .gallery-modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, .8);
        z-index: var(--z-fixed);
        height: 100vh;
        width: 100vw;

        img {
            width: 90%;
            height: auto;
            object-fit: cover;
            transition: all .3s ease;
        }

        span {
            text-align: center;
            color: var(--gray-100);
            position: absolute;
            bottom: 30%;
            text-shadow: 2px 2px 15px black;
            font-size: var(--h3-font-size);
            display: inline-block;
            background-color: rgba(0, 0, 0, 0.647);
            padding: 5px;
        }
    }

    @media screen and (max-width: 350px) {
        
        .gallery-images {
            
            .gallery-image {
                width: 250px;
                height: 150px;
            }
        }

        .gallery-modal {}
    }
    
    @media screen and (min-width: 768px) {

        .gallery-modal{

            span{
                bottom: 10%;
            }
        }
    }
    
    @media screen and (min-width: 1024px) {

        .gallery-modal {
            
            img {
                width: 75%;
                height: 90%;
                object-fit: contain;
            }

            span {
                bottom: 40px;
                font-size: var(--h1-font-size);
                padding: 10px;
            }
        }
    }
}